<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Skills</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skill.backenddev.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Learn about my Python skills and certifications.">
    <meta name="keywords" content="Python, skills, certifications, web development">
    <meta name="author" content="Jacob Snyder">
</head>
<body>
  <header>
    <h1></h1>
  </header>
</body>
</html>