<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/skill.websdesign.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Learn about my HTML skills and certifications.">
    <meta name="keywords" content="HTML, skills, certifications, web development">
    <meta name="author" content="Jacob Snyder">
    <title>Web Design Skills</title>
</head>
<body>
    <header>
        <h1>Web Design Skills and Certifications</h1>
    </header>
</body>
</html>