<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Skills</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skill.proglang.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Learn about my Python skills and certifications.">
    <meta name="keywords" content="Python, skills, certifications, web development">
    <meta name="author" content="Jacob Snyder">
</head>
<body>
    <header>
      <h1>Programming Languages: Skills and Certifications</h1>
    </header>
      <section>
       <h2>Python Certifications</h2>
      </section>
    <!-- Wrap your items in a scrollable container -->
    <div class="scrollable-container">
      <div class="scrollable-items">
        <div class="item">
          <figure class="figure">
            <img src="/static/images/PCEP_example_jpg.jpg" alt="PCEP - Python Certified Entry-Level Programmer" class="centered-image">
            <figcaption>PCEP - Python Certified Entry-Level Programmer</figcaption>
          </figure>
        </div>
        <div class="item">
          <figure class="figure">
            <img src="/static/images/PCAP_example_jpg.jpg" alt="PCAP - Python Certified Associate Programmer" class="centered-image">
            <figcaption>PCAP - Python Certified Associate Programmer</figcaption>
          </figure>
        </div>
        <!-- Add more items as needed -->
      </div>
    </div>
    <script>
const container = document.querySelector('.scrollable-container');
let scrollAmount = 0;
const scrollStep = 1;
const scrollDelay = 20;

function autoScroll() {
  if (container) {
    scrollAmount += scrollStep;
    if (scrollAmount > container.scrollWidth - container.clientWidth) {
      scrollAmount = 0;
    }
    container.scrollLeft = scrollAmount;
    setTimeout(autoScroll, scrollDelay);
  }
}
autoScroll();
</script>
</body>
</html>