<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skill.ai.html.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Learn about my AI skills and projects.">
    <meta name="keywords" content="AI, skills, projects, web development">
    <meta name="author" content="Jacob Snyder">
    <title>AI Skills</title>
</head>
<body>
    <header>
        <h1>AI Skills, Certs and Projects</h1>
    </header>
</body>
</html>