.scrollable-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Centers the container horizontally */
  text-align: center; /* Centers the content inside the container */
  display: flex;
  flex-direction: column; /* Ensures items stack vertically if needed */
  align-items: center; /* Centers the scrollable items horizontally */
}
  
  .scrollable-items {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
  }
  
  .scrollable-items .item {
    flex: 0 0 auto;
    width: 300px; /* Adjust as needed */
    text-align: center;
  }
  
  .centered-image {
    width: 100%; /* Makes the image 60% of its original size */
    margin: 0 auto;
    display: block;
  }

  .figure figcaption {
    font-size: 100%;
    text-align: center; /* Centers the caption text */
    margin: 0 auto; /* Centers the figure block */
  }
  .figure img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains aspect ratio */
  }