.scrollable-container {
  overflow-x: auto;
  padding: 1em 0;
}

.scrollable-items {
  display: flex;
  gap: 2em;
  justify-content: center; /* Center items horizontally */
}

.item {
  flex: 0 0 auto;
  width: 300px;
  text-align: center;
}

.centered-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.figure figcaption {
  font-size: 100%;
  text-align: center;
  margin: 0 auto;
}

.figure img {
  max-width: 100%;
  height: auto;
}